exclude: 'node_modules|.git'
default_stages: [pre-commit]
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        files: 'vir_conto.*'
        exclude: '.*json$|.*txt$|.*csv|.*md|.*svg'
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-ast
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.11
    hooks:
      # Run the importer sorter.
      - id: ruff
        name: 'Run ruff import sorter'
        args: ['--select=I', '--fix']

      # Run the linter.
      - id: ruff-check
        name: 'Run ruff linter and apply fixes'
        args: ['--fix']

      # Run the formatter.
      - id: ruff-format
        name: 'Format Python code'

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [javascript, vue, scss]
        # Ignore any files that might contain jinja / bundles
        exclude: |
          (?x)^(
              vir_conto/public/dist/.*|
              .*node_modules.*|
              .*boilerplate.*|
              vir_conto/templates/includes/.*|
              vir_conto/public/js/lib/.*
          )$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.44.0
    hooks:
      - id: eslint
        types_or: [javascript]
        args: ['--quiet']
        # Ignore any files that might contain jinja / bundles
        exclude: |
          (?x)^(
              vir_conto/public/dist/.*|
              cypress/.*|
              .*node_modules.*|
              .*boilerplate.*|
              vir_conto/templates/includes/.*|
              vir_conto/public/js/lib/.*
          )$

ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false
